In [132]:
import pandas as pd

In [133]:
pd.set_option('display.max_columns', None)

### Creating base magento retail and wholesale DFs

In [134]:
mag_items = pd.read_csv("../data/magento_items_base.csv")
mag_items

,name,qty_ordered,order_id,store_id
0,62% Dark Milk Chocolate + Fleur de Sel Sea Salt,1.0,37,1.0
1,Dark Chocolate + Peanut Butter Bar,1.0,37,1.0
2,White Chocolate Bar,1.0,38,1.0
3,"70% Cortés, Honduras Dark Chocolate Bar",1.0,38,1.0
4,Love Bites,1.0,39,1.0
...,...,...,...,...
136527,"72% Mababu, Tanzania Dark Chocolate Bar",2.0,43124,1.0
136528,"77% Davao, Philippines Dark Chocolate Bar",2.0,43124,1.0
136529,88% Super Dark Blend Chocolate Bar,1.0,43124,1.0
136530,62% Dark Milk Chocolate + Fleur de Sel Sea Sal...,1.0,43124,1.0
136531,Tableya,1.0,43124,1.0

In [135]:
# Creating new DF of just retail orders
magento_retail = mag_items.loc[mag_items['store_id'] == 1]
magento_retail

,name,qty_ordered,order_id,store_id
0,62% Dark Milk Chocolate + Fleur de Sel Sea Salt,1.0,37,1.0
1,Dark Chocolate + Peanut Butter Bar,1.0,37,1.0
2,White Chocolate Bar,1.0,38,1.0
3,"70% Cortés, Honduras Dark Chocolate Bar",1.0,38,1.0
4,Love Bites,1.0,39,1.0
...,...,...,...,...
136527,"72% Mababu, Tanzania Dark Chocolate Bar",2.0,43124,1.0
136528,"77% Davao, Philippines Dark Chocolate Bar",2.0,43124,1.0
136529,88% Super Dark Blend Chocolate Bar,1.0,43124,1.0
136530,62% Dark Milk Chocolate + Fleur de Sel Sea Sal...,1.0,43124,1.0
136531,Tableya,1.0,43124,1.0

In [136]:
# Creating new DF of just wholesale orders
magento_wholesale = mag_items.loc[mag_items['store_id'] == 2]
magento_wholesale

,name,qty_ordered,order_id,store_id
32,Wholesale Mexican-Style Sipping Chocolate 170g...,6.0,50,2.0
33,Wholesale Tanzania Roasted Cocoa Nibs,12.0,50,2.0
34,Chocolate Tasting Kit,6.0,50,2.0
35,POP - Davao Bars,1.0,51,2.0
36,POP - Davao Dark Milk + Fleur de Sel Bar,1.0,51,2.0
...,...,...,...,...
136468,"POP - 72% Zamora, Amazonia Dark Chocolate Bar",1.0,43101,2.0
136474,BULK Dark Chocolate Broken Bars - kilo,25.0,43103,2.0
136475,POP - White Chocolate Bar,2.0,43104,2.0
136476,POP - Dark Chocolate + Red Raspberry CollaBARa...,2.0,43104,2.0
136477,"POP - 72% Zamora, Amazonia Dark Chocolate Bar",2.0,43104,2.0

### Creating base shopify retail and wholesale DFs

In [137]:
shop_items = pd.read_csv('../data/shopify_items_base.csv')
shop_items.head()

     Name                           Lineitem name  Lineitem quantity  Tags
0  #58621              Coconut Milk Chocolate Bar                  1   1.0
1  #58620      Dark Chocolate + Peanut Butter Bar                  1   1.0
2  #58620  White Chocolate Covered Strawberry Bar                  1   1.0
3  #58620     Cranberry Sauce White Chocolate Bar                  1   1.0
4  #58619          Chocolate Covered S’more Bites                  1   1.0

In [138]:
# Renaming columns for congruency
shop_items = shopify_items.rename(columns = {'Name' : 'order_id', 'Lineitem name' : 'name', 'Lineitem quantity' : 'qty_ordered', 'Email' : 'email', 'Tags' : 'store_id'})
shop_items.head()

  order_id                                    name  qty_ordered  store_id
0   #58621              Coconut Milk Chocolate Bar            1       1.0
1   #58620      Dark Chocolate + Peanut Butter Bar            1       1.0
2   #58620  White Chocolate Covered Strawberry Bar            1       1.0
3   #58620     Cranberry Sauce White Chocolate Bar            1       1.0
4   #58619          Chocolate Covered S’more Bites            1       1.0

In [139]:
# Creating new DF of just retail orders
shopify_retail = shop_items.loc[shop_items['store_id'] == 1]
shopify_retail

,order_id,name,qty_ordered,store_id
0,#58621,Coconut Milk Chocolate Bar,1,1.0
1,#58620,Dark Chocolate + Peanut Butter Bar,1,1.0
2,#58620,White Chocolate Covered Strawberry Bar,1,1.0
3,#58620,Cranberry Sauce White Chocolate Bar,1,1.0
4,#58619,Chocolate Covered S’more Bites,1,1.0
...,...,...,...,...
184722,#1020,White Chocolate Bar,1,1.0
184723,#1020,White Chocolate Nibble Bar,1,1.0
184724,#1019,Dark Chocolate + Malted Milk CollaBARation™ Bar,1,1.0
184725,#1018,"70% San Jose Del Tambo, Ecuador Dark Chocolate...",1,1.0
184726,#1015,Askinoisie Digital Gift Card - $25,1,1.0

In [140]:
# Creating new DF of just wholesale orders
shopify_wholesale = shop_items.loc[shop_items['store_id'] == 2]
shopify_wholesale

,order_id,name,qty_ordered,store_id
223,#58539,POP - 62% Dark Milk Chocolate + Fleur de Sel S...,1,2.0
231,#58537,BULK Cocoa Nibs - kilo,5,2.0
242,#58532,"POP - 72% Mababu, Tanzania Dark Chocolate Bar",1,2.0
250,#58530,"POP - 72% Mababu, Tanzania Dark Chocolate Bar",1,2.0
260,#58527,POP - 88% Super Dark Blend Chocolate Bar,1,2.0
...,...,...,...,...
184701,#1029,BULK Cocoa Nibs - kilo,10,2.0
184705,#1027,"POP - 72% Zamora, Amazonia Dark Chocolate Bar",1,2.0
184706,#1026,POP - Dark Chocolate + Red Raspberry CollaBARa...,1,2.0
184708,#1025,"POP - 70% San Jose Del Tambo, Ecuador Dark Cho...",1,2.0
184715,#1023,BULK Dark Chocolate Broken Bars - kilo,25,2.0

### Combining base Magento and Shopify base DFs for retail and wholesale

In [141]:
# Combining retail DFs from magento and shopify
base_retail = pd.concat([magento_retail,shopify_retail], axis=0, ignore_index=True)
base_retail

,name,qty_ordered,order_id,store_id
0,62% Dark Milk Chocolate + Fleur de Sel Sea Salt,1.0,37,1.0
1,Dark Chocolate + Peanut Butter Bar,1.0,37,1.0
2,White Chocolate Bar,1.0,38,1.0
3,"70% Cortés, Honduras Dark Chocolate Bar",1.0,38,1.0
4,Love Bites,1.0,39,1.0
...,...,...,...,...
278272,White Chocolate Bar,1.0,#1020,1.0
278273,White Chocolate Nibble Bar,1.0,#1020,1.0
278274,Dark Chocolate + Malted Milk CollaBARation™ Bar,1.0,#1019,1.0
278275,"70% San Jose Del Tambo, Ecuador Dark Chocolate...",1.0,#1018,1.0
278276,Askinoisie Digital Gift Card - $25,1.0,#1015,1.0

In [142]:
# Removing unnecessary text from rows
base_retail['name'] = base_retail['name'].str.replace('™','', regex=True)

In [143]:
# Removing unnecessary text from rows
base_retail['name'] = base_retail['name'].str.replace('"','', regex=True)

In [144]:
# Removing unnecessary text from rows
base_retail['name'] = base_retail['name'].str.replace('â','', regex=True)

In [145]:
# Removing unnecessary text from rows
base_retail['name'] = base_retail['name'].str.replace('¢','', regex=True)

In [146]:
# Removing unnecessary text from rows
base_retail['name'] = base_retail['name'].str.replace('â','', regex=True)

In [147]:
# Removing unnecessary text from rows
base_retail['name'] = base_retail['name'].str.replace('â¢','', regex=True)

In [148]:
# Saving base retail df to csv
base_retail.to_csv('../data/base_retail_no_email.csv', index = False)

In [149]:
# Creating DF from magento and shopify wholesale DFs
base_wholesale = pd.concat([magento_wholesale,shopify_wholesale], axis=0, ignore_index=True)
base_wholesale

,name,qty_ordered,order_id,store_id
0,Wholesale Mexican-Style Sipping Chocolate 170g...,6.0,50,2.0
1,Wholesale Tanzania Roasted Cocoa Nibs,12.0,50,2.0
2,Chocolate Tasting Kit,6.0,50,2.0
3,POP - Davao Bars,1.0,51,2.0
4,POP - Davao Dark Milk + Fleur de Sel Bar,1.0,51,2.0
...,...,...,...,...
42280,BULK Cocoa Nibs - kilo,10.0,#1029,2.0
42281,"POP - 72% Zamora, Amazonia Dark Chocolate Bar",1.0,#1027,2.0
42282,POP - Dark Chocolate + Red Raspberry CollaBARa...,1.0,#1026,2.0
42283,"POP - 70% San Jose Del Tambo, Ecuador Dark Cho...",1.0,#1025,2.0
42284,BULK Dark Chocolate Broken Bars - kilo,25.0,#1023,2.0

In [150]:
# Removing unnecessary text from rows
base_wholesale['name'] = base_wholesale['name'].str.replace('™','', regex=True)

In [151]:
# Removing unnecessary text from rows
base_wholesale['name'] = base_wholesale['name'].str.replace('"','', regex=True)

In [152]:
# Removing unnecessary text from rows
base_wholesale['name'] = base_wholesale['name'].str.replace('â','', regex=True)

In [153]:
# Removing unnecessary text from rows
base_wholesale['name'] = base_wholesale['name'].str.replace('¢','', regex=True)

In [154]:
# Removing unnecessary text from rows
base_wholesale['name'] = base_wholesale['name'].str.replace('â','', regex=True)

In [155]:
# Removing unnecessary text from rows
base_wholesale['name'] = base_wholesale['name'].str.replace('â¢','', regex=True)

In [156]:
# Saving base wholesale df to csv
base_wholesale.to_csv('../data/base_wholesale_no_email.csv', index = False)